/* EU cookie law */
#body > div.alert.alert-warning.alert-dismissible {
    position: absolute;
    right: 0.5em;
    top: 4.5em;
    z-index: 1000;
    border: 1px solid black;
}

.map-container {
    position: absolute;
    left: 0;
    top: 5.3em;
    right: 0;
    bottom: 2em;
    font-size: 10px;
}

.map-control-pane {
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    width: 20em;
    border-right: 1px solid black;
    border-bottom: 1px solid black;
}

#map-control-layers {
    margin-left: 0.5em;
}

#map-control-layers .leaflet-control-layers-separator {
    display: none;
}

.map-control-pane h3 {
    background-color: #033c73;
    color: #ffffff;
    padding-left: 0.5em;
    padding-right: 0.5em;
    font-size: 120%;
    font-weight: bold;
}

.map-control-pane label {
    display: block;
    font-size: 12px;
    margin: 0;
}

label.leaflet-control-layers-group-label > span,
.map-control-pane > .leaflet-control-layers-group-name {
    display: block;
    background-color: #033c73;
    color: #ffffff;
    padding-left: 0.5em;
    padding-right: 0.5em;
    font-size: 120%;
    font-weight: bold;
}
.map-control-pane label input {
    padding-right: 0.2em;
}

.map-pane {
    position: absolute;
    left: 20em;
    margin-left: 2px;
    top: 0;
    right: 0;
    bottom: 0;
    border: 1px solid blue;
}

#mapid {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    font-size: 14px;
}

