<div id="footer">
    <div id="footer-outer">
        <div id="footer-inner">
            <div id="footer-left">
                ProjectArea51 &amp; area51.onl
                ©2011-2017 Peter Mount, All Rights Reserved.
            </div>
            <div id="footer-right">
                Powered by <a href="//area51.onl">Area51</a>
            </div>
            <div id="footer-center">
                <!-- Uncomment to show window size if size issues occur
                width:<span id="monitor"></span>
                -->
            </div>
        </div>
    </div>
</div>

<!-- Information modal -->
<div id="noticeModal" class="modal fade" tabindex="-1" role="dialog" data-backdrop="static" data-keyboard="false">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title"></h4>
            </div>
            <div class="modal-body">
            </div>
            <div class="modal-footer">
                <button type="button" onclick="A51.invoke()" class="btn btn-success confirm-yes" data-dismiss="modal">Yes</button>
            </div>
        </div>
    </div>
</div>

<!-- yes/no modal -->
<div id="confirmModal" class="modal fade" tabindex="-1" role="dialog" data-backdrop="static" data-keyboard="false">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title"></h4>
            </div>
            <div class="modal-body">
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-success confirm-no" data-dismiss="modal">No</button>
                <button type="button" onclick="A51.invoke()" class="btn btn-danger confirm-yes" data-dismiss="modal">Yes</button>
            </div>
        </div>
    </div>
</div>
