
<meta charset="UTF-8"/>
<meta name="viewport" content="width=device-width, initial-scale=1.0"/>
<meta http-equiv="X-UA-Compatible" content="IE=edge"/>
<meta content="width=device-width, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no" name="viewport"/>

<meta name="description" content="Open Source Mapping"/>

<meta name="keywords" content="maps, mapping, gis, geoserver, openstreetmap, open street map, ordnance survey,tiles, map tiles"/>

<meta name="author" content="Peter Mount"/>

<link rel="icon" href="//d2n6o1jfdmw4z0.cloudfront.net/images/a51/favicon.ico"/>

<link rel="stylesheet" href="//area51.onl/css/bootstrap.min.css"/>
<link rel="stylesheet" href="//area51.onl/css/area51.min.css"/>

<link href="//area51.onl/css/font-awesome.min.css" rel="stylesheet" type="text/css"/>

<script src="//area51.onl/js/jquery-3.1.1.min.js"></script>
<script src="//area51.onl/js/bootstrap.min.js"></script>
<script src="//area51.onl/js/area51-bootstrap.min.js"></script>
<script src="//area51.onl/js/area51.min.js"></script>
<script src="//area51.onl/js/auth.min.js"></script>
