<nav class="navbar navbar-inverse navbar-default navbar-fixed-top">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#a51NavBar" aria-expanded="false">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a href="/">
                <img alt="Project Area51" height="35" src="https://cdn.area51.onl/images/a51/area51_logo_white.png" width="188"/>
            </a>
        </div>
        <div class="collapse navbar-collapse" id="a51NavBar">
            <ul class="nav navbar-nav" id="a51NavBarLeft">

              <li><a href="/about/index.html">About</a></li>
              <li><a href="/tiles/index.html">Tiles</a></li>

                <!-- Only show on view page -->
                <li class="dropdown on-page" data-path="/index.html">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Maps <span class="caret"></span></a>
                    <ul class="dropdown-menu">
                        <li><a onclick="MapLu.showMap('uk');">UK</a></li>
                        <li><a onclick="MapLu.showMap('england');">England</a></li>
                        <li><a onclick="MapLu.showMap('england-se');">England South East</a></li>
                        <li><a onclick="MapLu.showMap('england-sw');">England South West</a></li>
                        <li><a onclick="MapLu.showMap('scotland');">Scotland</a></li>
                        <li><a onclick="MapLu.showMap('wales');">Wales</a></li>
                        <li role="separator" class="divider"></li>
                        <li><a onclick="MapLu.showMap('london');">London</a></li>
                    </ul>
                </li>
            </ul>

            <ul class="nav navbar-nav navbar-right" id="a51NavBarRight">
                <!-- Authentication menus -->
                <!--
                <li class="auth-unlogged">
                    <a id="authLogonNav" data-toggle="modal" data-target="#authLoginModal">Login</a>
                </li>
                <li class="dropdown auth-logged">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
                        <i class="fa fa-user fa-fw"></i>
                        <span class="auth-username"></span>
                        <span class="fa fa-caret-down"></span>
                    </a>
                    <ul class="dropdown-menu">
                        <!- -
                        <li class="divider" role="separator"></li>
                        - ->
                        <li>
                            <a onclick="Auth.logout();">Logout</a>
                        </li>
                    </ul>
                </li>
                -->

            </ul>
        </div>
    </div>
</nav>
