.App {
    font: 12px/1.5 "Helvetica Neue", Arial, Helvetica, sans-serif;
}

.leaflet-container {
    position: fixed;
    top: 1.5em;
    left: 0;
    bottom: 0;
    right: 0;
}

#navBar {
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    right: 0;
    height: 1.5em;
    background: white;
    border-bottom: 1px solid black;
    font-size: 1em;
    padding: 0.1em;
}

#mapStatus {
    position: fixed;
    top: 1.5em;
    left: 0;
}

#mapStatus.open {
    bottom: 0;
    width: 20em;
    background: white;
    border: 1px solid black;
}

#mapStatus.closed {
    background: white;
    border: 1px solid red;
}

#mapStatus .icon, #compass {
    font-size: 1.5em;
}

#mapStatus .right {
    float: right;
}

#mapStatus .section {
    padding-top: 0.1em;
    clear: both;
}
#mapStatus .section .title {
    background: lightgray;
    font-weight: bold;
    text-align: center;
    border-top: 1px solid darkgray;
    border-bottom: 1px solid darkgray;
}

.open #compass .nav,
.open #compass .details {
    display: inline-block;
    vertical-align: top;
}

.open #compass .details {
    font-size: 0.75em;
}

.open #compass .details span {
    display: inline-block;
    text-align: right;
    padding-right: 0.25em;
}

.open #compass .details .label {
    width: 2em;
    font-weight: bold;
}

.open #compass .details .deg,
.open #compass .details .min,
.open #compass .details .sec,
.open #compass .details .dir {
    font-weight: normal;
}

.open #compass .details .deg {
    width: 2.2em;
}

.open #compass .details .min {
    width: 1.25em;
}

.open #compass .details .sec {
    width: 3em;
}

#compass .nav {
    text-align: center;
}

#compass i {
    padding: 0.2em;
}

#compass .zoom {
    text-align: center;
}

#compass .zoom span {
    width: 2em;
    display: inline-block;
}
