* {
  font-fill: #484848;
  font-family: "DejaVu Sans";
  font-weight: normal;
  halo-color: white;
  halo-radius: 1;
  -gt-label-follow-line: true;
  -gt-label-max-angle-delta: 90;
  -gt-label-max-displacement: 400;
  -gt-label-repeat: 300;
  stroke-linecap: round;
}

[@sd < 50001] [@sd > 25001] {
  stroke: #d5d4c8;
  stroke-opacity: 0.5;
  stroke-width: 0.1;
}

[@sd < 25001] [@sd > 10001] {
  stroke: #c8c4b8, #d5d4c8;
  stroke-opacity: 0.5, 1;
  stroke-width: 0.5, 0.3;
  z-index: 0, 1;
}

[@sd < 10001] [@sd > 5001]{
  stroke: #888, #ddd;
  stroke-opacity: 0.5, 1;
  stroke-width: 2, 1.5;
  z-index: 0, 1;
  label: [name];
  font-size: 6;
}

[@sd < 5001] {
  stroke: #888, #ddd;
  stroke-opacity: 0.5, 1;
  stroke-width: 3.5, 3;
  z-index: 0, 1;
  label: [name];
  font-size: 7;
}

[highway = 'service'] {
  [@sd < 10k]  {
    stroke: #888, #fff;
  };

  [@sd >= 10k] [@sd < 35k] {
    stroke: #fff;
  };
}

[highway = 'pedestrian'] {
  [@sd < 10k] {
    stroke: #888, #eeeeee;
  };
}

[highway = 'path' or highway = 'footway'] {
  [@sd < 4k] {
    stroke: #fa9989;
    stroke-dasharray: 2 5;
    stroke-width: 1, 1;
    font-size: 10;
    label: [name];
  };

  [@sd >= 4k] [@sd < 10k] {
    stroke: #fa9989;
    stroke-dasharray: 2 5;
    stroke-width: 0.25, 0.25;
    font-size: 7;
    label: [name];
  };

  [@sd >= 10k] [@sd < 35k] {
    stroke: #fa9989;
    stroke-dasharray: 2 5;
    stroke-width: 0.25, 0.25;
  };
}

[highway = 'steps'] {
  stroke: #fa9989;
  stroke-dasharray: 1 2.5;

  [@sd < 4k] {
    stroke: #fa9989;
    stroke-width: 1, 1;
    font-size: 10;
    label: [name];
  };

  [@sd >= 4k] [@sd < 10k] {
    stroke-width: 0.25, 0.25;
    font-size: 7;
    label: [name];
  };

  [@sd >= 10k] [@sd < 35k] {
    stroke-width: 0.25, 0.25;
  };
}