* {
  font-family: "DejaVu Sans";
  halo-color: #ffffff;
  halo-radius: 0.3;
  font-weight: normal;
  font-fill: #999;
  font-style: normal;
  label-anchor: 0.5 0;
  label-offset: 0 5;
  font-fill: #666;
}

[@sd <= 2500] {
  fill: #000000, #f0f0f0;
  fill-opacity: 0.4, 1;
  geometry: [offset(way, 0.3, -0.3)], [way];
  font-size: 8.5;
  label: [name];
}

[@sd > 2500] [@sd <= 5k] {
  fill: #000000, #f0f0f0;
  fill-opacity: 0.4, 1;
  geometry: [offset(way, 0.4, -0.4)], [way];
  font-size: 8.5;
  label: [name];
}

[@sd > 5k] [@sd <= 10k] {
  fill: #000000, #f0f0f0;
  fill-opacity: 0.4, 1;
  geometry: [offset(way, 0.5, -0.5)], [way];
}


[amenity is not null][amenity <> '']
{
  fill: #000000, #f0f0f0;

    /* @title Bank */
    [amenity = 'bank'] {
      fill: #000000, #ddd;
    };

    /* @title Pub/Bar */
    [amenity = 'pub' or amenity = 'bar'] {
      fill: #000000, #d9d0c9;
    };

    /* @title Place of worship */
    [amenity = 'church' or amenity = 'place_of_worship'] {
      fill: #000000, #c4b6ab;
      font-fill: #000;
    };
}

/* @title Retail/Commercial */
[building='retail' or building='commercial'] {
  fill: #000000, #d0d0d0;
}
